@mixin button {
    position: relative;
    display: inline-block;
    padding: 20px 40px;
    font-size: 1.4rem;
    background: #00b3b4;
    color:white;
}


.animated-button-1{
    @include button;
    background-image: url(pattern.png);
    background-size: 40px 40px;
    border:  solid 1px #555;
    transition: all ease 0.3s;
    &:hover{
        animation: loading-button-animation 0.5s linear infinite;
    }
    @keyframes loading-button-animation {
        from{
            background-position: 0 0;
        }
        to{
            background-position: 40px 0;
        }
    }
}
.animated-button-2{
    @include button;
    background-color: #00b3b4;
    background-size: 40px 40px;
    border: solid 1px #555;
    transition: all ease 0.2s;
    &::after{
        position: absolute;
        content: "»";
        right: 0.6em;
        transition: all ease 0.2s;
        opacity: 0;
    }
    &:hover{
        padding: 20px 60px 20px 20px;
        &::after{
            right:1.2em;
            opacity: 1;
        }
    }

}