.sandbox img{
    transition: all 0.3s ease;
    &:hover{
        cursor: crosshair;
    }
}
.grayscale{
    filter: grayscale(1);
    &:hover{
        filter: grayscale(0);
    }
}
.blur{
    filter: blur(3px);
    &:hover{
        filter: blur(0);
    }
}
.invert{
    filter: invert(1);
    &:hover{
        filter: invert(0);
    }
}

.sepia{
    filter: sepia(1);
    &:hover{
        filter: sepia(0);
    }
}